* {
    box-sizing: border-box;
    font-family: "Hiragino Kaku Gothic ProN";
}

h2 {
    font-size: 24px;
    font-weight: bold;
}


/* ヘッダーのスタイル /////////////////////////////////////////// */
$header-height: 80px;
header {
    height: $header-height;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index:10;
}

.header__bottom-spacer{
    height: $header-height;
}

.header__logo {
    font-size: 36px;
}

.header__menu-trigger,
.header__menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}

.header__menu-trigger {
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 30; 

}


.header__menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #121212;
}
.header__menu-trigger.active span{
    background-color: white;
}

.header__menu-trigger span:nth-of-type(1) {
    top: 0;
}

.header__menu-trigger span:nth-of-type(2) {
    top: 10px;
}

.header__menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

#header__menu.active span:nth-of-type(1) {
    transform: translateY(10px) rotate(-315deg);
}

#header__menu.active span:nth-of-type(2) {
    opacity: 0;
}

#header__menu.active span:nth-of-type(3) {
    transform: translateY(-10px) rotate(315deg);
}


/* サイドバーのスタイル//////////////////////////////////////////////// */
aside {
    padding: 50px 30px;
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    transition: all 0.5s ease;
    overflow: auto;
}

aside.active {
    left: 0;
    background-color: rgba(0, 0, 0, 1.0);
}

#mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    cursor: pointer;
}

#mask.active {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.campany-menu{
    margin-bottom: 100px;
    border-top: 1px solid #fff;
    li{
        padding: 20px 0;
        border-bottom: 1px solid #fff;
    }
}

.sns-menu li{
    margin: 10px 0;
}



/* セクションの共通スタイル////////////////////////////////////////// */
section{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    h2{
        height: 62px;
        line-height: 62px;
        margin-bottom: 30px;
        font-size: 36px;
    }
    &:first-child{
        padding-top: 0;
        padding-bottom: 0;
    }
}


/*　pickup　*/////////////////
section.pickup{
    .slider{ 
        height: 271px;
    }
    .slider-items {
        max-width: 100%;
        margin: 0 auto;
    }
    .slick-slide {
        margin: 0 10px;  // 画像間のマージン
        transition: all ease-in-out .5s;
    }
    .slick-slide img {
        width: 100%;
        height: auto;
    }
    .slick-prev, .slick-next { // 画像を切り替える矢印のスタイル⓵
        z-index: 1;
    }
    .slick-prev:before, .slick-next:before {// 画像を切り替える矢印のスタイル⓶
        color: #000;
    }
}

/* feature///////////////////////////////// */
section.feature {
    .cards{
        margin: 0 26px;
        display: grid;
        gap: 26px;
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width: 980px){
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 768px){
            grid-template-columns: 1fr;
        }
        .card {
            box-shadow: 0px 0px 15px gray;
            .card__img{
                transform: translate3d(0, 10px, 0);
                transition: 1s;
                opacity: 0;
                img{
                    width: 100%;
                }
                &.animated{
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
            
            .card__text{
                padding: 30px;
                .card__text-title{
                    text-align: left;
                    margin-bottom: 30px;
                }
                .card__text-main{
                    margin-bottom: 30px;
                    text-align: left;
                }
                .card__text-date{
                    text-align: right;
                }
            }
        }
    }
}


footer{
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    background-color: #121212;
    .contact{
        padding: 50px 0;
        .contact__title{
            margin-bottom: 30px;
            font-size: 2.25rem;
            text-align: center;
        }
        .contact__grid-wrapper{
            display: grid;
            gap: 100px;
            grid-template-columns: 1fr 1fr;
            @media screen and (max-width: 768px){
                grid-template-columns: 1fr;
            }
            .contact__text-block{
                p{
                    padding: 20px 0;
                }
            }
            .contact__form-block{
                .form-item{
                    margin-bottom: 30px;
                    label {
                        margin-bottom: 10px;
                    }
                    input[type=text], textarea{
                        outline: none;
                        padding: 10px;
                        width: 100%;
                        height: 36px;
                        color: black;
                        background-color: white;
                    }
                    textarea{
                        min-height: 4em;
                    }
                    input[type=submit]{
                        padding: 15px 80px;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }
    .copyright{
        text-align: center;
    }
}



