body {
  background-color: black;
  color: white;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
}

header {
  padding: 35px 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
}
header.active {
  opacity: 1;
}
header .header-fixed {
  display: flex;
  justify-content: space-between;
}
header .header-fixed .header-fixed__left {
  font-size: 16px;
  z-index: 1;
}
header .header-fixed .header-fixed__right {
  z-index: 1;
}
header .header-fixed .header-fixed__right .item {
  width: 33.33334%;
  box-sizing: border-box;
}
header .header-fixed .header-fixed__right .menu-trigger,
header .header-fixed .header-fixed__right .menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
header .header-fixed .header-fixed__right .menu-trigger {
  position: relative;
  width: 30px;
  height: 20px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
header .header-fixed .header-fixed__right .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
header .header-fixed .header-fixed__right .menu-trigger span:nth-of-type(1) {
  top: 0;
}
header .header-fixed .header-fixed__right .menu-trigger span:nth-of-type(2) {
  top: 9px;
}
header .header-fixed .header-fixed__right .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
header .header-fixed .header-fixed__right #menu01.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}
header .header-fixed .header-fixed__right #menu01.active span:nth-of-type(2) {
  transform: rotate(45deg);
}
header .header-fixed .header-fixed__right #menu01.active span:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}
header .header__menu {
  padding-top: 90px;
  transform: translate(0px, -800px);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  transition: all 0.6s ease;
}
header .header__menu.active {
  transform: translate(0px, 0px);
}
header .header__menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

section {
  text-align: center;
}
section h2 {
  height: 75px;
  margin-bottom: 45px;
  display: inline-block;
  font-size: 60px;
  font-weight: 100;
  line-height: 75px;
  border-bottom: 1px solid #fff;
}
section.mainvisual {
  margin-bottom: 100px;
}
section.mainvisual #mainvisual {
  display: flex;
  height: 100vh;
  background-size: 100%;
  justify-content: center;
}
section.mainvisual #mainvisual img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.title {
  margin-bottom: 100px;
}
section.title p {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
}
section.information {
  margin-bottom: 140px;
}
section.information .font-large {
  margin: 20px 0;
  font-size: 40px;
}
section.information .font-middle {
  line-height: 30px;
  font-size: 24px;
}
section.information .font-small {
  line-height: 23px;
  font-size: 18px;
}
section.gallery .gallery__items {
  margin: 0 auto;
  max-width: 740px;
}
section.gallery .gallery__items .gallery__item {
  margin: 60px auto;
  width: 48%;
  max-width: 355px;
}
section.gallery .gallery__items .gallery__item img {
  width: 100%;
  height: auto;
  display: block;
}
section.gallery .gallery__items .gallery__item:nth-child(even) {
  margin-right: 0;
}
section.gallery .gallery__items .gallery__item:nth-child(odd) {
  margin-left: 0;
}
section.gallery .gallery__items .gallery__item:first-child {
  margin-top: 0;
}
section.gallery .gallery__items .gallery__item:last-child {
  margin-bottom: 0;
}
section.access {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section.access .font-large {
  margin-bottom: 20px;
  font-size: 28px;
}
section.access .font-small {
  margin-bottom: 20px;
  font-size: 16px;
}
section.access .button-map {
  margin-top: 30px;
  width: 252px;
  height: 50px;
  display: inline-block;
  border: 1px solid #fff;
  line-height: 50px;
}
section.contact {
  margin-bottom: 200px;
}
section.contact .button-inquiry {
  margin-top: 30px;
  width: 400px;
  height: 80px;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  line-height: 80px;
}
section.contact .button-inquiry::before {
  content: "";
  display: inline-block;
  width: 120px;
  position: absolute;
  top: 60%;
  right: -80px;
  border-bottom: 1px solid #fff;
}
section.contact .button-inquiry::after {
  content: "";
  display: inline-block;
  width: 15px;
  position: absolute;
  top: calc(60% - 4px);
  right: -80px;
  transform: rotate(30deg);
  border-bottom: 1px solid #fff;
}

footer {
  padding: 80px 30px;
  font-size: 12px;
  border-top: 1px solid #fff;
}
footer .info {
  margin-bottom: 30px;
}
footer .info p {
  height: 15px;
}
footer .sns {
  height: 15px;
  display: flex;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */